@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.nav-mobile {
  display: none;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-side img {
  width: 100%;
}
.lists {
  display: flex;
  align-items: center;
  gap: 30px;
}
.lists li {
  list-style: none;
}
#color-gray {
  color: #8987a1;
}
.lists a {
  text-decoration: none;
  color: black;
}




.banner-title-image {
  margin-top: 120px;
  margin-bottom: 50px;
}
.banner-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.banner-title h3 {
  font-weight: 700;
  font-size: 3em;
}
.flowers-primary-text {
  color: #e95a08;
}
.banner-img img {
  width: 100%;
}





.responsive-flower-card {
  max-width: 1140px;
  margin: 0 auto;
}
.flower-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.flower-title h3 {
  font-weight: 700;
  font-size: 2.5em;
}
.flower-title p {
  width: 65%;
}
.section-card-container {
  margin-top: 40px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
}
.card p {
  font-weight: 400;
  font-size: 1.5em;
}
.card h3 {
  margin-left: 30px;
  margin-top: -10px;
  font-size: 1.5em;
}

.card img {
  width: 100%;
}
.btn-primary {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 1em;
  padding: 26px 50px;
  width: 100%;
  margin-bottom: 300px;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(160, 56, 56);
  color: wheat;
}



