@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.nav-mobile {
  display: none;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-side img {
  width: 100%;
}
.lists {
  display: flex;
  align-items: center;
  gap: 30px;
}
.lists li {
  list-style: none;
}
#color-gray {
  color: #8987a1;
}
.lists a {
  text-decoration: none;
  color: black;
}




.banner-title-image {
  margin-top: 120px;
  margin-bottom: 50px;
}
.banner-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.banner-title h3 {
  font-weight: 700;
  font-size: 3em;
}
.flowers-primary-text {
  color: #e95a08;
}
.banner-img img {
  width: 100%;
}





.responsive-flower-card {
  max-width: 1140px;
  margin: 0 auto;
}
.flower-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.flower-title h3 {
  font-weight: 700;
  font-size: 2.5em;
}
.flower-title p {
  width: 65%;
}
.section-card-container {
  margin-top: 40px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
}
.card p {
  font-weight: 400;
  font-size: 1.5em;
}
.card h3 {
  margin-left: 30px;
  margin-top: -10px;
  font-size: 1.5em;
}

.card img {
  width: 100%;
}
.btn-primary {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 1em;
  padding: 26px 50px;
  width: 100%;
  margin-bottom: 300px;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(160, 56, 56);
  color: wheat;
}




.flower-plant-section {
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1140px;
  max-height: 597px;
  margin: 0 auto;
}
.badge {
  position: absolute;
  margin-top: -120px;
  margin-left: 370px;
}
.badge img {
  max-width: 300px;
}
.plant-img {
  width: 100%;
}
.plant-title h3 {
  font-weight: 600px;
  font-size: 4rem;
}
.plant-title ul li {
  font-size: 22px;
  color: gray;
}





.deal-section {
  max-width: 1140px;

  margin: 0 auto;
}
.banner-title {
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
 
}
.deal-des {
  margin-top: -25px;
  font-size: 1.2em;
  color: gray;
  width: 888px;
}
.deal-img {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.left-img {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 367px;
  height: 423px;
}
.left-img h3 {
  margin-top: 60px;
  margin-bottom: -2px;
  font-weight: 600px;
  font-size: 2em;
  color: white;
}
 
.img-one {
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/deal-bloom.png");

  background-repeat: no-repeat;
  width: 367px;
  height: 201px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-two {
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  width: 367px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 201px;
  border-radius: 10px;
}
.img-two h3 {
  margin-top: 60px;
  margin-bottom: -2px;
}
.left-img a {
  color: white;
  font-size: 1.5em;
}
.right-img {
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 753px;
  height: 423px;

  color: white;
}
.right-img h3 {
  margin-top: 150px;
  font-weight: 600px;
  font-size: 3em;
}
.right-img a {
  margin-top: -20px;
  color: white;
  font-size: 1.8em;
}




 
.joint-section {
  margin-top: 50px;
  width: 1440px;
}

.joint-title {
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/news-letter-bg.png");
  width: 100%;
  height: 533px;
}
.joint-title h3 {
  text-align: center;
  font-weight: 200px;
  font-size: 3em;
  color: white;
}
.joint-inter {
  padding: 50px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  display: flex;
  margin-top: -30px;
}
.email {
  width: 644px;
  height: 50px;
}
.subscribe {
  padding: 7px 35px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-size: 1em;
}
.subscribe:hover {
  background-color: brown;
}





.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 1440px;
  height: 348px;
  
}
.footer-logo{
  width: 359px;
  height: 178px;
}
.footer-logo p{
  color: gray;
  font-size: 1em;
}
.footer-menu ul, .footer-menu-two ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  gap: 15px;
}
.footer-menu li, .footer-menu-two li{ 
  list-style: none;
  
}
.footer-menu a, .footer-menu-two a{ 
  text-decoration: none;
  color: gray;
  
}
.footer-icon{
  display: flex;
  gap: 20px;
}
.footer-icon img{
  width: 36px;
  height: 36px;
}



/* Responsive navbar  */
@media screen and (max-width: 576px) {
  .lists li {
    display: none;
  }
  .nav-section {
    margin-top: -30px;
    margin-bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo-side img {
    width: 80%;
  }
  .add-to-cart {
    margin-top: 50px;
    font-size: 1.5em;
  }
}